<f:layout name="Default" />

<f:section name="main">

<script type="text/javascript" src="fileadmin/templates/js/jquery.hoverIntent.js"></script>
<script type="text/javascript">
  var switchTabs = function (tabID) {
    var thatTab = $("#" + tabID + "b.ui-tab"),
      thatBike = $("." + tabID + ".bike-tab");
    $(".ui-tab").not(thatTab).removeClass("selected-tab");
    $(".bike-tab").not(thatBike).removeClass("selected-info");
    thatTab.addClass("selected-tab");
    thatBike.addClass("selected-info");
  }

  $(window).load( function() {

    // Nav Menu
    var tabs = $("#lowerNav li");
    tabs.hoverIntent( {
      over: function() {
        $(this).children("ul")
          .animate({
            opacity: 1,
          }, {
            duration: 400,
          })
          .css("display", "block")
          .css("visibility", "visible")
      },
      out: function() {
        $(this).children("ul")
          .css("opacity", "0")
          .css("display", "none")
          .css("visibility", "hidden")
      },
      timeout: "300"
    })

    // Content Tabs

    $("#tabbuttons .ui-tab").first().addClass("selected-tab");
    $("#bike-content .bike-tab").first().addClass("selected-info");
  })
</script>

<div id="bwrapper" class="inside">
	<!-- content -->
	<div id="content" class="bike-category">
		<!--TYPO3SEARCH_begin-->
		<div id="left-rail">
			<div id="breadcrumb"><ul id="breadcrumbs"><f:cObject typoscriptObjectPath="lib.breadcrumbs" data="{data.title}"/></ul></div>
			<h2 class="page-title">{data.title}</h2>
			<div id="bike-category-content">{content0 -> f:format.raw()}</div>
		</div>
		<div id="bike-category-rightrail">{content1 -> f:format.raw()}</div>
		<!--TYPO3SEARCH_end-->
    </div>
</div>

</f:section>