<f:layout name="Default" />

<f:section name="main">

<script type="text/javascript" src="fileadmin/templates/js/jquery.js"></script>
<script type="text/javascript" src="fileadmin/templates/js/jquery.anythingzoomer.js"></script>
<script type="text/javascript" src="fileadmin/templates/js/jquery.hoverIntent.js"></script>
<script type="text/javascript"> $(window).load( function() {$("#zoom").anythingZoomer} ) </script>
<script type="text/javascript">
  var switchTabs = function (tabID) {
    var thatTab = $("#" + tabID + "b.ui-tab"),
      thatBike = $("." + tabID + ".bike-tab");
    $(".ui-tab").not(thatTab).removeClass("selected-tab");
    $(".bike-tab").not(thatBike).removeClass("selected-info");
    thatTab.addClass("selected-tab");
    thatBike.addClass("selected-info");
  }

  $(window).load( function() {

    // Nav Menu
    var tabs = $("#lowerNav li");
    tabs.hoverIntent( {
      over: function() {
        $(this).children("ul")
          .animate({
            opacity: 1,
          }, {
            duration: 300,
          })
          .css("display", "block")
          .css("visibility", "visible")
      },
      out: function() {
        $(this).children("ul")
          .css("opacity", "0")
          .css("display", "none")
          .css("visibility", "hidden")
      },
      timeout: "300"
    })

    // Content Tabs

    $("#tabbuttons .ui-tab").first().addClass("selected-tab");
    $("#bike-content .bike-tab").first().addClass("selected-info");
  })
</script>
<div id="fbtag">
  <a href="http://www.facebook.com/bianchibikes"></a>
</div>
<div id="bwrapper" class="bike">
  <!-- content -->
  <div id="content" class="internal">
    <!--TYPO3SEARCH_begin-->
    <div id="breadcrumb">
      <f:cObject typoscriptObjectPath="lib.breadcrumbs" data="{data.title}"/>
    </div>
    <div id="left-rail"> <!-- LEFT RAIL START -->
      <h2 class="bike-name">{data.title}</h2>
      <div id="bike-content">
        <div id="zoomer">
          <f:if condition="{content0}"><div id="bike-content-image">{content0 -> f:format.raw()}</div></f:if>
        </div>
        <ul id="tabbuttons" class="ui-tabs-nav">
          <f:if condition="{content1}">
            <li id="tab1b" class="ui-tab">
              <a href="javascript: switchTabs('tab1')">
                <span>Also Available</span>
              </a>
            </li>
          </f:if>
          <f:if condition="{content2}">
            <li id="tab2b" class="ui-tab">
              <a href="javascript: switchTabs('tab2')">
                <span>Specifications</span>
              </a>
            </li>
          </f:if>
          <f:if condition="{content3}">
            <li id="tab3b" class="ui-tab">
              <a href="javascript: switchTabs('tab3')">
                <span>Geometry</span>
              </a>
            </li>
          </f:if>
          <f:if condition="{content4}">
            <li id="tab4b" class="ui-tab">
              <a href="javascript: switchTabs('tab4')">
                <span>Available Colors</span>
              </a>
            </li>
          </f:if>
        </ul>

        <!-- Bike Tabs -->
        <f:if condition="{content1}"><div id="bike-content-alsoavailable" class="tab1 bike-tab">{content1 -> f:format.raw()}</div></f:if>
        <f:if condition="{content2}"><div id="bike-content-specifications" class="tab2 bike-tab">{content2 -> f:format.raw()}</div></f:if>
        <f:if condition="{content3}"><div id="bike-content-geometry" class="tab3 bike-tab">{content3 -> f:format.raw()}</div></f:if>
        <f:if condition="{content4}"><div id="bike-content-availabecolors" class="tab4 bike-tab">{content4 -> f:format.raw()}</div></f:if>
        <!-- End Bike Tabs -->
        <f:if condition="{content5}"><div id="bike-content-price">{content5 -> f:format.raw()}</div></f:if>
        <f:if condition="{content6}"><div id="bike-content-description">{content6 -> f:format.raw()}</div></f:if>
      </div>
    </div>    
    <!-- LEFT RAIL END -->
    <!-- RIGHT RAIL START -->
    <div id="bike-category-rightrail">
      <f:if condition="{content7}"><div id="bike-content-railcontent">{content7 -> f:format.raw()}</div></f:if>
    </div>
    <!-- RIGHT RAIL END -->
    <!--TYPO3SEARCH_end-->
  </div>
</div>

</f:section>