<div id="footer">
  <div class="right">
  <span class="bflickr">
  	<a href="http://www.flickr.com/groups/bianchiusa"></a>
  </span>
  <span class="bfacebook">
  	<a href="http://www.facebook.com/#!/pages/Bianchi/356097243685"></a>
  </span>
  <span class="btwitter">
  	<a href="http://twitter.com/bianchibicycles"></a>
  </span>
  <span>© 2013 Bianchi USA</span>
  <span class="fdvr">//</span>
  	<a href="/Site-Credits/">CREDITS</a>
  <span class="fdvr">//</span>
  <a href="/warranty-policy/">WARRANTY</a>
  <span class="fdvr">//</span>
  <a href="store/">STORE</a>

  <f:cObject typoscriptObjectPath="lib.footernavigation" />

  <div style="clear:both;"> </div>
  </div>
</div>
