<div id="headerWrapper">
  <div id="header">
    <h1 id="logo"><a href="/"></a></h1>
    <ul id="topNav"><li class="first"><a href="reparto-corse-dealers/">Reparto Corse Dealers</a></li><li class="last"><a href="store/">Store</a></li></ul>
    <ul id="midNav"><li class="first"><a href="racing/">Racing</a></li><li><a href="news/">News</a></li><li class="current"><a href="history/" class="current-a">History</a></li><li><a href="technology/">Technology</a></li><li><a href="video/" target="_blank">Video</a></li><li class="last"><a href="dealers/">Dealers</a></li></ul>
    <ul id="lowerNav" class="dropdown sf-js-enabled sf-shadow">
      <li class="first"><a href="bikes/road/" class="sf-with-ul">Road<span class="sf-sub-indicator"> »</span></a><ul style="visibility: hidden; display: none;"><li class="first"><a href="bikes/road/hors-categorie/">Hors Categorie</a></li><li><a href="bikes/road/born-for-performance/">Born for Performance</a></li><li><a href="bikes/road/coast-to-coast/">Coast to Coast</a></li><li><a href="bikes/road/dama-bianca/">Dama Bianca</a></li><li><a href="bikes/road/triathlon-tt/">Triathlon / TT</a></li><li class="last"><a href="bikes/road/steel/">Steel</a></li></ul></li><li><a href="bikes/fixed-gear/" class="sf-with-ul">Fixed Gear<span class="sf-sub-indicator"> »</span></a><ul style="display: none; visibility: hidden;"><li class="first"><a href="bikes/fixed-gear/">Pista</a></li><li class="last"><a href="bikes/fixed-gear/super-pista-frameset/">Super Pista Frameset</a></li></ul></li><li><a href="bikes/off-road/" class="sf-with-ul">Off Road<span class="sf-sub-indicator"> »</span></a><ul style="display: none; visibility: hidden;"><li class="first"><a href="bikes/off-road/methanol-29-sl/">Methanol 29 SL</a></li><li><a href="bikes/off-road/cavaria/">Cavaria</a></li><li><a href="bikes/off-road/zurigo/">Zurigo</a></li><li class="last"><a href="bikes/off-road/cavaria-frameset/">Cavaria Frameset</a></li></ul></li><li class="last"><a href="bikes/strada/" class="sf-with-ul">Strada<span class="sf-sub-indicator"> »</span></a><ul style="display: none; visibility: hidden;"><li class="first"><a href="bikes/strada/sport/">Sport</a></li><li><a href="bikes/strada/metropoli/">Metropoli</a></li><li class="last"><a href="bikes/strada/turismo/">Turismo</a></li></ul></li></ul>
    <!--f:cObject typoscriptObjectPath="lib.mainnavigation" /-->
  </div>
</div>