body {
	font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	background: url("../images/styling/billboard-bg_2.jpg") repeat-x;
	margin: 0;
}

#fbtag {
	position: fixed;
	left: 0;
	top: 200px;
	width: 29px;
	height: 79px;
	z-index: 100
}

#fbtag a {
	display: block;
	width: 29px;
	height: 79px;
	background: url("../images/styling/fb-button.gif") no-repeat;
}

#mainNav li.current a.current {
	color: red;
	font-weight: bold;
	font-size: 14pt;
}

/* Header */
#headerWrapper {
	height: 140px;
}

#header {
	width: 960px;
	height: 150px;
	position: relative;
	margin: 0 auto;
}

#header a {
	text-decoration: none;
}

#logo {
	position: absolute;
	margin: 0;
	top: 10px;
	width: 235px;
	height: 53px;
}

#logo a {
	background: url("../images/styling/Bianchi_Logo.png") no-repeat;
	display: block;
	width: 235px;
	height: 53px;

}

#topNav {
	position: absolute;
	top: 0;
	right: 10px;
	margin: 0;
}

#topNav li {
	margin: 0;
	padding: 0 15px;
	display: inline;
	float: left;
}

#topNav li a {
	font-size: 11px;
	color: #A7E7D8;
	padding: 8px 9px;
	line-height: 25px;
	text-transform: uppercase;
	text-decoration: none;
}

#topNav li.first {

}

#topNav li.last {
	border: none;
	padding-right: 0;
}

#topNav li.last a {
	background: #A7E7D9;
	padding: 8px 9px;
	color: #002162;
}

#topNav li a:hover {
	color: #002162;
	background: #A7E7D9;
	text-decoration: underline;
}

#midNav {
	position: absolute;
	top: 60px;
	right: 10px;
	margin: 0;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-left: 0;
	border-bottom: 1px solid #A7E7D9;
	text-transform: uppercase;
}

#midNav li {
	display: inline-block;
	padding: 0 15px;
	border-right: 1px solid #A7E7D9;
	line-height: 18px;
	font-size: 12px;
}

#midNav li.last {
	border: none;
	padding-right: 0;
}

#midNav li a {
	font-size: 15px;
	color: #A7E7D8;
	line-height: 22px;
}

#midNav li a:hover {
	color: #FFF;
}

#lowerNav {
	position: absolute;
	right: 10px;
	top: 104px;
	text-transform: uppercase;
	margin: 0;
}

#lowerNav > li {
	display: inline-block;
	padding: 0 25px;
	border-right: 1px solid #A7E7D9;
}

#lowerNav > li.last {
	border: none;
	padding-right: 0;
}

#lowerNav li a {
	font-size: 18px;
	color: #A7E7D8;
	padding-bottom: 7px;
}

#lowerNav li a:hover {
	color: #FFF;
}

#lowerNav ul {
	z-index: 1;
	top: 36px;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	width: 165px;
	list-style: none;
	padding: 0;
	margin-left: -24px;
}

#lowerNav ul > li {
	float: none;
	border: none;
	margin: 12px 20px;
	padding: 0;
	font-size: 13px;
}

/* Main Content*/

#main {
	padding-top: 11px;
}

#content {
	width: 949px;
	min-height: 600px;
	background: url("../images/styling/inside-content-bg.gif") no-repeat;
	padding: 0 6px;
	margin: 0 auto;
}

/* Left Rail */
#left-rail {
	float: left;
	width: 600px;
	margin: 0 0 0 15px;
}

#breadcrumb {
	height: 24px;
	padding: 3px 0 0 15px;
	font-size: 14px;
	display: block;
}

#breadcrumbs {
	margin: 0;
	padding: 0;
}

.crumb, #breadcrumb > a {
	display: inline-block;
	line-height: 21px;
}

#breadcrumbs a {
	color: #367766;
	text-decoration: none;
}

#breadcrumbs a:hover {
	color: #367766;
	text-decoration: underline;
}

#breadcrumbs span {
	color: #666;
}

.bike-name {
	text-transform: uppercase;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 21px;
	margin: 16px 0 0 0;
}

/* Bike Info Nav */
#tabbuttons.ui-tabs-nav {
	list-style: none;
	margin: 0 0 0 -15px;
	padding: 0 0 0 20px;
	background: #000;
	display: block;
	font-size: 12px;
	line-height: 18px;
	height: 18px;
}

.ui-tabs-nav li {
	float: left;
	margin: 0;
}

#tabbuttons.ui-tabs-nav .ui-tab.selected-tab a, 
#tabbuttons.ui-tabs-nav a:hover, 
#tabbuttons.ui-tabs-nav a:focus, 
#tabbuttons.ui-tabs-nav a:active {
	background: #fff;
	color: #000;
}

#tabbuttons.ui-tabs-nav a, 
#tabbuttons.ui-tabs-nav a span {
	display: block;
	padding: 0 10px;
}

#tabbuttons.ui-tabs-nav a {
	margin: 0;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	outline: 0;
}

#tabbuttons.ui-tabs-nav .ui-tabs-selected-tab a {
	position: relative;
	color: #000;
	background-color: #FFF;
	height: 100%;
}

/* Bike Info Tabs */

.bike-tab {
	display: none;
	padding-top: 10px;
}

.bike-tab.selected-info {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

tbody {
	display: table-row-group;
}

.contenttable {
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding-bottom: 20px;
	font-size: 12px;
}

#bike-content-specifications .contenttable {
	width: 100%;
}

#bike-content-geometry .contenttable {
	width: 328px;
}

.contenttable tr {
	margin: 0;
	padding: 0;
}

.contenttable tr.tr-even {
	background-color: #f2f2f2;
}

.contenttable tr.tr-odd {
	background-color: transparent;
}

.contenttable td {
	text-align: left;
	font-size: 90%;
	margin: 0;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 4px;
	border-right: 1px solid #fff;
}

.contenttable td.td-0 {
	font-weight: bold;
	color: #333;
	padding-right: 3px;
}

.contenttable td.td-1 {
}

/* Right Rail */
#bike-category-rightrail {
	float: left;
	width: 315px;
	margin: 0 0 0 15px;
}

#bike-content-railcontent {
	padding: 0 20px 0 0;
	margin: 0 0 0 5px;
	font-size: 12px;
	color: #666;
}

#bike-category-rightrail .bodytext {
	margin: 0 0 10px 0;
}

/* Footer */
#footer {
	display: block;
	clear: both;
	width: 949px;
	padding: 10px 10px 0 0;
	margin: 0 auto;
	font-size: 12px;
}

#footer .right {
	float: right;
}

#footer a {
	color: #000;
	text-transform: uppercase;
	float: left;
	text-decoration: none;
	line-height: 18px;
}

#footer span {
	float: left;
	line-height: 18px;
}

.bflickr a {
	display: block;
	height: 21px;
	width: 21px;
	background: url("../images/styling/bianchi-flickr.gif")
}

.bfacebook a {
	display: block;
	height: 21px;
	width: 21px;
	background: url("../images/styling/bianchi-facebook.gif")
}

.btwitter a {
	display: block;
	height: 21px;
	width: 21px;
	background: url("../images/styling/bianchi-twitter.gif")
}

.fdvr {
	color: #367766;
	margin: 0 2px;
}

/* Specific to Fixed-Gear Page */

#content .page-title {
	text-transform: uppercase;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 24px;
	margin: 8px 0 0 0;
}

#content.bike-category .bodytext {
	margin: 4px 0 20px 0;
	line-height: 18px;
	font-size: 12px;
	color: #666;
}

.bike-category h3 {
	background-color: black;
	color: white;
	font-weight: 100;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 0 0 0 15px;
	line-height: 21px;
	margin: 11px 0 0 -15px;
}

.bike-category h3::before {
	content: "//";
	color: #6FC0B0;
	margin-right: 6px;
}

#content.bike-category .csc-textpic-image {
	margin: 10px 0 10px 10px;
}

#content.bike-category .csc-textpic-imagecolumn {
	margin: 0;
}

.bike-category .csc-textpic-caption {
	text-align: center;
	font-weight: 600;
	color: #367766;
	font-size: 14px;
	margin-top: 2px;
}

.bike-category #breadcrumbs .last {
	color: #666;
}